# configs
.venv
.idea
.configs*
configs/status_save.json
*__pycache__*

# tests
test_modules
test_run_modules.py
test_main.py

# report files
reports/market_data.csv
reports/balance_statistic.csv
reports/operation_data.csv

# log files
logs.log
app/logs/main_logs.log

# excel
*.xlsx
