# configs
.venv
.idea
.configs.ini
configs/status_save.json
configs/asset_config.json
*__pycache__*

# tests
test_modules
test_run_modules.py
test_analysis.py
test_main.py
trash

# own modules
app/asset_templates/strategies/_strategy_distributor.py
app/asset_templates/strategies/*
!app/asset_templates/strategies/_strategy_distributor.temp.py
!app/asset_templates/strategies/__init__.py
!app/asset_templates/strategies/_base_strategy.py
!app/asset_templates/strategies/trendfolling_st.py

# report files
reports/market_data.csv
reports/balance_statistic.csv
reports/operation_data.csv

# log files
logs.log
app/logs/main_logs.log

# excel
*.xlsx

# buffer
app/buff/*
!app/buff/buff
